@import url("https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&family=Montserrat:wght@100&display=swap");
* {
  margin: 0px;
  padding: 0px;
}
@media (min-width: 768px) and (max-width: 1400px) {
  .developer ul {
    list-style: none;
  }
  .developer ul li {
    display: block;
    position: relative;
    line-height: 21px;
  }
  .developer ul.dropdown {
    display: none;
    width: 550px;
    height: 410px;
    background-color: #fff;
    position: absolute;
    margin-top: 5px;
    border-radius: 3px;
  }
  .developer ul.dropdown2 {
    display: none;
    width: 140px;
    height: 120px;
    background-color: #fff;
    position: absolute;
    margin-top: 5px;
    border-radius: 5px;
  }
  .developer ul.dropdown3 {
    display: none;
    width: 200px;
    height: 150px;
    background-color: #fff;
    position: absolute;
    margin-top: 5px;
    border-radius: 5px;
    margin-left: -150px;
    color: #011b33;
  }
  .developer ul.dropdown4 {
    display: none;
    width: 300px;
    height: 100px;
    position: absolute;
    margin-top: -65px;
    margin-left: 530px;
    color: #011b33;
  }
  .developer ul.dropdown5 {
    display: none;
    width: 300px;
    height: 100px;
    position: absolute;
    margin-top: -65px;
    margin-left: 610px;
    color: #011b33;
  }
  .developer ul.dropdown6 {
    display: none;
    width: 300px;
    height: 100px;
    position: absolute;
    margin-top: -65px;
    margin-left: 980px;
    color: #011b33;
  }
  .developer ul.dropdown7 {
    display: none;
    width: 300px;
    height: 100px;
    position: absolute;
    margin-top: -480px;
    margin-left: 1000px;
    color: #011b33;
  }
  .links:hover ul.dropdown,
  .links:hover ul.dropdown2,
  .links:hover ul.dropdown3,
  .links:hover ul.dropdown4,
  .links:hover ul.dropdown5,
  .links:hover ul.dropdown6,
  .links:hover ul.dropdown7 {
    display: block;
  }
  .flex-1 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    font-size: 15px;
  }
  .flex-1 h5 {
    color: #011b33;
  }
  .grid-1 {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
  }
  .grid-1 #lagNig {
    color: green;
    font-size: 18px;
  }
  .grid-1 .sell {
    font-size: 14px;
  }
  .smallerIcons {
    margin-top: -100px;
  }
  .smallerIcons2 {
    margin-top: 50px;
  }
  #logoIcon {
    width: 25px;
    height: 25px;
    border-radius: 50px;
    background-color: #011b33;
    margin-left: 500px;
  }
  #logoIcon2 {
    width: 25px;
    height: 25px;
    border-radius: 50px;
    background-color: #011b33;
    margin-left: 600px;
  }
  #logoIcon3 {
    width: 25px;
    height: 25px;
    border-radius: 50px;
    background-color: #011b33;
    float: right;
    margin-right: 230px;
  }
  #logoIcon4 {
    width: 25px;
    height: 25px;
    border-radius: 50px;
    background-color: #011b33;
    float: right;
    margin-top: -450px;
    margin-right: -50px;
  }
  .paragraph {
    margin: 0px;
    font-size: 13px;
  }
  #wcp {
    text-decoration: none;
    color: #011b33;
    font-size: 16px;
    letter-spacing: 1px;
  }
  .bg-color {
    background-color: rgb(232, 242, 248);
    width: 100%;
    height: 750px;
  }
  .logo-name {
    display: flex;
    width: 100%;
    position: sticky;
    top: 0;
  }
  .logo {
    height: 25px;
    margin: 30px;
    margin-top: 25px;
  }
  .name {
    margin-top: -5px;
    margin-left: -55px;
  }
  #Names {
    text-decoration: none;
    font-size: 25px;
    color: #011b33;
    font-weight: bolder;
  }
  .navBars {
    margin: 30px;
    display: flex;
  }
  .NavLinks {
    margin-top: -15px;
    display: flex;
  }
  .links,
  #right-nav,
  .create-free {
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    color: #011b33;
    margin: 17px;
    font-size: 17px;
    font-weight: bolder;
  }
  .NavLinks2 {
    display: flex;
    margin-top: -15px;
    margin-left: 120px;
  }
  .links:hover,
  #right-nav:hover {
    color: rgb(7, 160, 221);
  }
  #flag {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    margin-top: -10px;
  }
  .create-free {
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
    background-color: rgb(33, 179, 33);
    padding: 15px;
    margin-top: -2px;
  }
  #links-create-sales {
    display: flex;
    margin-top: 50px;
  }
  #freeAccount {
    margin: 0px;
    font-size: 20px;
  }
  .sales-link {
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    color: rgb(33, 179, 33);
    font-size: 18px;
    margin-left: 30px;
  }
  .section-1,
  .section-4 .section-5 .section-6 .section-7 .section-8,
  h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 35px;
    color: #011b33;
  }
  .section-1 {
    margin: 60px;
    margin-top: 100px;
  }
  .section-1 p {
    margin: 0px;
    margin-top: 25px;
    font-size: 20px;
    line-height: 1.5rem;
  }
  .section-2 {
    display: flex;
    justify-content: space-between;
    margin: 60px;
    margin-top: -60px;
  }
  .section-2 p {
    font-size: 20px;
    color: #011b33;
  }
  #mtn-officer {
    float: right;
    line-height: 1.5rem;
  }
  .section-2 h4 {
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    font-weight: normal;
  }
  .section-2 ul,
  .images {
    display: flex;
    list-style: none;
    margin-top: 20px;
  }
  #dominos {
    width: 150px;
  }
  #mtn {
    width: 90px;
    margin-left: 30px;
  }
  #bolt {
    width: 50px;
    margin-left: 20px;
  }
  #axa {
    width: 200px;
    margin-left: 40px;
  }
  .section-3 {
    margin: 60px;
    margin-top: 150px;
  }
  .section-3 h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 35px;
    color: #011b33;
  }
  .section-3 p {
    margin: 0px;
    font-family: "Montserrat", sans-serif;
    font-size: 19px;
    margin-top: 20px;
    color: rgb(89, 89, 104);
  }
  #section-4 {
    background-color: rgb(232, 242, 248);
    width: 50%;
    height: 870px;
  }
  .section-4 .section-5 .section-6 .section-8,
  p {
    margin: 0px;
    font-family: "Montserrat", sans-serif;
    font-size: 19px;
    margin-top: 30px;
    letter-spacing: 0.04rem;
    line-height: 1.5rem;
  }
  #Enjoy {
    margin-top: 30px;
  }
  #Para {
    margin: 0px;
    margin-top: 30px;
  }
  .features-list {
    display: flex;
    justify-content: space-between;
  }
  .features-list ul li,
  .feature-2 {
    list-style-type: none;
    line-height: 50px;
    font-weight: bold;
    color: rgb(89, 89, 104);
    margin: 0px;
    margin-top: 30px;
  }
  .success-rate,
  .paymentAPI {
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    color: rgb(33, 179, 33);
    font-size: 19px;
  }
  .section-4,
  .section-5,
  .section-6,
  .section-10,
  #homeFooter {
    display: flex;
    justify-content: space-between;
    margin: 60px;
    margin-top: 100px;
  }
  #suiteAPI {
    width: 525px;
    height: 610px;
  }
  .payAPI {
    margin-top: 40px;
  }
  #detailed {
    margin-top: 60px;
  }
  .section-7 {
    background-color: rgb(232, 242, 248);
    width: 100%;
    height: 700px;
  }
  .trusted {
    padding: 100px;
    margin-left: -70px;
  }
  #GEL {
    display: flex;
    justify-content: space-evenly;
  }
  .GEL {
    border: 1px solid #fff;
    border-radius: 5px;
    width: 430px;
    height: 380px;
    background-color: #fff;
    margin-top: -60px;
  }
  #global-image {
    width: 100px;
    height: 100px;
  }
  #global-image,
  h2,
  p,
  #gellink {
    font-family: "Montserrat", sans-serif;
    margin: 15px;
    color: #011b33;
  }
  #gellink {
    text-decoration: none;
    font-size: 19px;
    font-weight: bold;
    color: #011b33;
  }
  .section-8 {
    font-family: "Montserrat", sans-serif;
    margin: 60px;
    margin-top: 100px;
  }
  #comp-logos {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0px;
    margin-top: 100px;
  }
  #comp-logos img {
    height: 35px;
  }
  #globalPartner {
    margin-top: 150px;
  }
  .stripeVisaY {
    margin: 30px;
    border: 1px solid rgb(232, 242, 248);
    border-radius: 5px;
    width: 330px;
    height: 250px;
    padding: 20px;
    margin-top: 50px;
  }
  #Stripe {
    width: 120px;
    height: 40px;
  }
  #visa {
    width: 80px;
    height: 30px;
  }
  #y {
    width: 30px;
    height: 30px;
  }
  #ceoIcon {
    width: 50px;
    border-radius: 50px;
    height: 50px;
  }
  .ceoTitle {
    display: flex;
    margin-top: 40px;
  }
  .pat-ceo {
    font-family: "Montserrat", sans-serif;
    margin-left: 20px;
  }
  .pat-ceo h6 {
    margin-top: 10px;
  }
  .section-9 {
    display: flex;
    justify-content: space-between;
  }
  .section-9 p {
    font-size: 15px;
    margin: 0px;
    margin-top: 20px;
  }
  .section-9 h6 {
    font-weight: normal;
    font-size: 13px;
  }
  .section-10 p {
    margin: 0px;
  }
  .section-10 {
    margin-top: 200px;
  }
  .try {
    margin-top: -70px;
  }
  #homeFooter {
    margin-top: 250px;
  }
  #homeFooter ul {
    list-style: none;
    margin: 0px;
    line-height: 30px;
  }
  #footer-links {
    text-decoration: none;
    color: rgb(15, 15, 15);
  }
  #hello {
    text-decoration: none;
    color: skyblue;
  }
  #homeFooter h4 {
    font-size: 25px;
    font-weight: bold;
  }
  #homeFooter li {
    font-size: 17px;
  }
  .footer4 #capetown {
    margin-top: 255px;
  }
  .footer3 #san {
    margin-top: 100px;
  }
  .footer2 #lagos {
    margin-top: 70px;
  }
  .footer1 #ctn {
    margin-top: 170px;
  }
}
