* {
  margin: 0px;
  padding: 0px;
}
.bg-color {
  background-color: rgb(232, 242, 248);
  width: 100%;
  height: 700px;
}
.logo-name {
  display: flex;
}
#Names {
  margin-left: -33px;
  text-decoration: none;
  color: rgb(15, 15, 15);
  font-size: 35px;
  font-weight: bolder;
}
.logo {
  height: 30px;
  margin: 30px;
}
.NavLinks {
  margin-top: 20px;
  margin-left: 5px;
  font-size: 19px;
}
.links {
  text-decoration: none;
  color: rgb(15, 15, 15);
  margin: 12px;
  font-weight: bold;
}
#right-nav {
  text-decoration: none;
  color: rgb(15, 15, 15);
  font-size: 19px;
  margin: 12px;
  font-weight: bold;
}
.links:hover,
#right-nav:hover {
  color: rgb(7, 160, 221);
}
.NavLinks2 {
  display: flex;
  margin-left: 690px;
  margin-top: -38px;
}
.create-free {
  border: 1px solid #fff;
  border-radius: 5px;
  width: 220px;
  height: 30px;
  font-size: 19px;
}
#create-border {
  text-decoration: none;
  color: #fff;
  background-color: rgb(33, 179, 33);
  display: flex;
  justify-content: center;
  padding: 10px;
}
#create-border:hover {
  background-color: rgb(7, 160, 221);
  color: rgb(15, 15, 15);
  font-weight: bold;
}
#links-create-sales {
  display: flex;
  margin-top: 25px;
}
.sales-link {
  margin-top: 15px;
  margin-left: 30px;
  text-decoration: none;
  color: rgb(33, 179, 33);
  font-size: 20px;
}
.sales-link:hover {
  color: rgb(15, 15, 15);
  font-weight: bolder;
}
.section-1,
.section-4 .section-5 .section-6 .section-7,
h1 {
  font-size: 40px;
}
.section-1 {
  margin: 30px;
  margin-top: 70px;
  color: rgb(15, 15, 15);
}
.section-1 p {
  margin-top: 25px;
  font-size: 20px;
  line-height: 30px;
}
.section-2 p {
  margin-top: 100px;
  margin-left: 780px;
  font-size: 22px;
  color: rgb(15, 15, 15);
}
#mtn-officer {
  margin: 75px;
  line-height: 45px;
}
.section-2 h4 {
  font-size: 23px;
  font-weight: normal;
  margin-left: 30px;
  margin-top: -80px;
}
ul,
.images {
  margin: 30px;
  margin-top: 20px;
}
#dominos {
  width: 150px;
}
#mtn {
  width: 90px;
  margin-left: 30px;
}
#bolt {
  width: 50px;
  margin-left: 20px;
}
#axa {
  width: 200px;
  margin-left: 40px;
}
.section-3 {
  margin: 30px;
  margin-top: 150px;
}
.section-3 h1 {
  font-size: 35px;
  color: rgb(27, 27, 43);
}
.section-3 p {
  font-size: 19px;
  margin-top: 20px;
  color: rgb(89, 89, 104);
}
#section-4 {
  background-color: rgb(232, 242, 248);
  width: 50%;
  height: 770px;
}
.section-4 .section-5 .section-6,
p {
  font-size: 19px;
  margin-top: 30px;
  word-spacing: 5px;
  line-height: 25px;
}
.features-list {
  display: flex;
  margin-top: 30px;
}
.features-list ul li,
.feature-2 {
  list-style-type: none;
  line-height: 50px;
  font-weight: bold;
  color: rgb(89, 89, 104);
}
.success-rate,
.paymentAPI {
  text-decoration: none;
  color: rgb(33, 179, 33);
  font-size: 19px;
}
.section-4,
.section-5,
.section-6 {
  display: flex;
  justify-content: space-between;
  margin: 30px;
  margin-top: 100px;
}
#detailed {
  margin-top: 60px;
}
.section-7{
  background-color: rgb(232, 242, 248);
  width: 100%;
  height: 700px;
}
.trusted{
  padding: 100px;
  margin-left: -45px;
}
#GEL{
  display: flex;
  justify-content: space-evenly;
}
.GEL{
  border: 1px solid #fff;
  border-radius: 5px;
  width: 380px;
  height: 380px;
  background-color: #fff;
  margin-top: -60px;
}
#global-image{
  width: 100px;
  height: 100px;
}
#global-image,h2, p, #gellink{
  margin: 15px;
}
#gellink{
  text-decoration: none;
  font-size: 19px;
  font-weight: bold;
  color: rgb(15, 15, 15);
} 